<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:secuity="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--静态资源不拦截-->
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/login.html" security="none"/>

    <security:http auto-config="true" use-expressions="true">
        <!--后台的所有页面都要登录验证-->
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>

        <!--自定义的登录页面-->
        <security:form-login
            login-page="/login.html"
            username-parameter="username"
            password-parameter="password"
            login-processing-url="/login.do"
            default-target-url="/pages/main.html"
            always-use-default-target="true"
        />

        <!--frame的访问-->
        <security:headers>
            <!--同域可访问-->
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!--登出的处理-->
        <security:logout logout-url="/logout.do" logout-success-url="/login.html" invalidate-session="true"/>

        <!--跨域保护关闭-->
        <security:csrf disabled="true"/>
    </security:http>

    <!--加密使用的bean-->
    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <!--认证管理器-->
    <secuity:authentication-manager>
        <!--处理登录的类-->
        <security:authentication-provider user-service-ref="springSecurityUserService">
            <!--设置加密-->
            <security:password-encoder ref="encoder"/>
        </security:authentication-provider>
    </secuity:authentication-manager>

    <!--注解支持-->
    <security:global-method-security pre-post-annotations="enabled"/>
</beans>